body {
  background-image: url("/home/qainfotech/html-css/background.jpg");
  background-size: cover;
}

h1 {
  font-size: 45px;
  color: white;
}
div
{
 background-color: AliceBlue;
 width: 400px;
 border: 25px groove maroon;
 padding: 25px;
 margin: 25px;
}

